@{
    ViewBag.Title = "Get to know Basketball";
}

<h2>Basketball</h2>
<div class="links">
    <a href="~/Home/Index">Home</a>
<br />
<a href="~/Basketball/Rules">Rules</a>
    &nbsp| &nbsp
<a href="~/Basketball/History">History</a>
    &nbsp| &nbsp
<a href="~/Basketball/Blog">Basketball Blog</a>
    &nbsp| &nbsp
<a href="~/Basketball/ToBeAFan">Things To Know</a>
    </div>
