@{
    ViewBag.Title = "Get to know Hockey";
}

<h2>Hockey</h2>
<div class="links">
  <a href="~/Home/Index">Home</a>
<br />
<a href="~/Hockey/Rules">Rules</a>
    &nbsp| &nbsp
<a href="~/Hockey/History">History</a>
    &nbsp| &nbsp
<a href="~/Hockey/Blog">Hockey Blog</a>
    &nbsp| &nbsp
<a href="~/Hockey/ToBeAFan">Things To Know</a>
    </div>

