@{
    ViewBag.Title = "Get to know Baseball";
}

<h2>Baseball</h2>
<div class="links">
    <a href="~/Home/Index">Home</a>
<br />
<a href="~/Baseball/Rules">Rules</a>
    &nbsp| &nbsp
<a href="~/Baseball/History">History</a>
    &nbsp| &nbsp
<a href="~/Baseball/Blog">Baseball Blog</a>
    &nbsp| &nbsp
<a href="~/Baseball/ToBeAFan">Things To Know</a>
    </div>

<div class="homebase">
    <img src="~/Content/Images/baseballdiamond.jpg" />
    <p><strong>People ask me what I do in winter when there's no baseball.
        <br /> I'll tell you what I do. I stare out the window and wait for spring.</strong><br /> <em>~Rogers Hornsby</em></p>
</div>
<div class="baberuth">
    <img src="~/Content/Images/baberuth.jpg" />
    <p><strong>"Baseball was, is and always will be to me the best game in the world."</strong><br /> <em>~The Babe Ruth Story (Babe Ruth)</em></p>
</div>
<div class="hankaaron">
    <img src="~/Content/Images/hank aaron.jpg" />
    <p><strong>My motto was always to keep swinging. Whether I was in a slump or feeling badly <br />or having trouble off the field, the only thing to do was keep swinging.</strong><br /><em> ~Hank Aaron</em></p>
</div>
<div class="fanbase">
    <img src="~/Content/Images/loutheseal.jpg" />
    <p><strong>"Baseball fans are junkies, and their herion is the statistic." </strong><br /><em>~Robert S. Wieder</em></p>
</div>