@{
    ViewBag.Title = "Get to know Baseball";
}

<h2>Baseball</h2>
<div class="links">
    <a href="~/Home/Index">Home</a>
<br />
<a href="~/Baseball/Rules">Rules</a>
    &nbsp| &nbsp
<a href="~/Baseball/History">History</a>
    &nbsp| &nbsp
<a href="~/Baseball/Blog">Baseball Blog</a>
    &nbsp| &nbsp
<a href="~/Baseball/ToBeAFan">Things To Know</a>
    </div>
