@{
    ViewBag.Title = "Rules";
}

<h2>Rules</h2>
<div class="links">
<a href="~/Baseball/Index">Baseball Home</a>
    </div>
<div class="video">


</div>
<div class="majorRules">
   <p>
       The players of the home team shall take their defensive positions, the first batter of the visiting team shall take his position in the batter's box, the umpire shall call "Play" and the game shall start.
       </p>
    <p>
When the ball is put in play at the start of, or during a game, all fielders other than the catcher shall be on fair territory. The batting order shall be followed throughout the game unless a player is substituted for another. In that case the substitute shall take the place of the replaced player in the batting order.
        </p>
    <p>
Each player of the offensive team shall bat in the order that his name appears in his team's batting order.
The first batter in each inning after the first inning shall be the player whose name follows that of the last player who legally completed his time at bat in the preceding inning.
A batter has legally completed his time at bat when he is put out or becomes a runner.
        </p>
    <p>
A batter may be put out in any of the following ways -<br />

His fair or foul FLY BALL is legally caught by a fielder (catch);
A FLY BALL is a batted ball that goes high in the air in-flight straight from the bat without first touching the ground.
A CATCH is the act of a fielder in getting secure possession in his hand or glove of a ball in flight and firmly holding it; providing he does not use his cap, protector, pocket or any other part of his uniform in getting possession.
After he hits a fair ball, he or first base is tagged before he touches first base;
A TAG is the action of a fielder in touching a base with his body while holding the ball securely and firmly in his hand or glove; or touching a runner with the ball, or with his hand or glove holding the ball, while holding the ball securely and firmly in his hand or glove.
A third strike is legally caught by the catcher;
</p>
    <p>
A STRIKE is a legal pitch when so called by the umpire, which -<br />
Is struck at by the batter and is missed;
Is not struck at, but any part of the ball passes through any part of the STRIKE ZONE;
The STRIKE ZONE is that area over home plate the upper limit of which is a horizontal line at the midpoint between the top of the shoulders and the top of the uniform pants, and the lower level is a line at the top of the knees. The Strike Zone shall be determined from the batter's stance as the batter is prepared to swing at a pitched ball.
</p>
    <p>
The batter becomes a runner and is entitled to first base without liability to be put out when -<br />

Four "balls" have been called by the umpire;
A BALL is a pitch which does not enter the strike zone in flight and is not struck at by the batter.
A BASE ON BALLS is an award of first base granted to a batter who, during his time at bat, receives four pitches outside the strike zone.
He is touched by a pitched ball which he is not attempting to hit unless (1) The ball is in the strike zone when it touches the batter, or (2) The batter makes no attempt to avoid being touched by the ball;
</p>
    <p>
The batter becomes a runner and is liable to be put out when -<br />

He hits a FAIR BALL;
A FAIR BALL is a batted ball that settles on fair ground between home and first base, or between home and third base, or that is on or over fair territory when bounding to the outfield past first or third base, or that touches first, second or third base, or that first falls on fair territory on or beyond first base or third base, or that, while on or over fair territory touches the person of an umpire or player, or that, while over fair territory, passes out of the playing field in flight.
A fair fly shall be judged according to the relative position of the ball and the foul line, including the foul pole, and not as to whether the fielder is on fair or foul territory at the time he touches the ball.
If a fly ball lands in the infield between home and first base, or home and third base, and then bounces to foul territory without touching a player or umpire and before passing first or third base, it is a foul ball; or if the ball settles on foul territory or is touched by a player on foul territory, it is a foul ball. If a fly ball lands on or beyond first or third base and then bounces to foul territory, it is a fair hit.
FAIR TERRITORY is that part of the playing field within, and including the first base and third base lines, from home base to the bottom of the playing field fence and perpendicularly upwards. All foul lines are in fair territory.
   </p>
</div>

<div class="rulebook">
    <strong>Baseball's Full Rulebook</strong><br /><br />
    <a href="http://mlb.mlb.com/mlb/downloads/y2013/official_baseball_rules.pdf">Rulebook</a>
</div>
<br />
<br />
<br />
<div class="posChart">
    <h3>Baseball's 9 Positions</h3><br />
    <img src="~/Content/Images/Sport-Baseball-Corner-view-baseball-field-Sample.png" height="300px" width="300px" />
</div>