@{
    ViewBag.Title = "To Be A Fan";
}

<h2>You Should Know..</h2>
<div class="links">
<a href="~/Baseball/Index">Baseball Home</a>
    </div>
<div class="evtk">
    <p><strong>Events</strong></p>
    <ul>
        <li>Jackie Robinson breaks the major league color barrier(1947)</li>
        <li>Lou Gehrigs "Luckiest Man Alive" Speech(1939)</li>
        <li>Babe Ruth calls his shot(1932)</li>
        <li>The Shot Heard 'round the World(1951)</li>
        <li>Hank Aaron's 715th Home Run(1973)</li>
        <li>Don Larsen throws perfect game in World Series(1956)</li>
    </ul>
</div>
<div class="peptk">
    <p><strong>People</strong></p>
    <ul>
        <li>Jackie Robinson(Dodgers)</li>
        <li>Babe Ruth(Yankees)</li>
        <li>Lou Gehrig(Yankees)</li>
        <li>Cy Young(Spiders, Americans, Red Sox, Naps)</li>
        <li>Willie Mays(Giants)</li>
        <li>Ty Cobb(Tigers)</li>
        <li>Hank Aaron(Braves)</li>
        <li>Barry Bonds(Giants)</li>
        <li>Derek Jeter(Yankees)</li>


    </ul>
</div>

<div class="platk">
    <p><strong>Places</strong></p>
    <ul>
        <li>Baseball Hall of Fame, Cooperstown, NY</li>
        <li>Fenway Park, Boston</li>
        <li>Wrigley Field, Chicago</li>
        <li>Oriole Park at Camden Yards, Baltimore</li>
        <li>Yankee Stadium, Bronx, NY</li>
        <li>AT&T Park, San Fransico</li>
        <li>Dodger Stadium, Los Angeles</li>
        <li>Turner Field, Atlanta</li>
        <li>PNC Park, Pittsburgh</li>
    </ul>
</div>
<div class="movies">
    <ul>
        <li>The Sandlot</li>
    </ul>
</div>