body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

 nav, section {
    display: block;
}
 header, footer{
     display: inline-block;
     font-size: medium;
     margin-left: 550px;
     margin-right: 500px;
 }
h2 {
    text-align: center;
}

/* Styles for basic forms
-----------------------------------------------------------*/
.links {
    text-align: center;
    font-size: large;
}
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*HOME PAGE CSS*/
.view{
    margin-left: 400px;
    margin-right: 400px;
}
.homepagepics img{
    height: 300px;
    width: 300px;
}
form{
    margin-left: 200px;
}
/*START Baseball CSS*/

.posChart{
   text-align:center;
}
.rulebook{
    text-align: center;
    font-size: large;
}
.hankaaron img{
    height: 230px;
    width: 400px;
    box-shadow: 0px 0px 20px 7px black;
}
.homebase, .baberuth{
 display: inline-block;  
}
.hankaaron, .fanbase{
    display: inline-block;
}
.baberuth{
    margin-left: 590px;
}
.fanbase{
    margin-left: 475px;
}
.hankaaron{
    margin-left: 25px;
}
.homebase{
    margin-left: 25px;
}
.baberuth img{
    height: 250px;
    width: 400px;
    box-shadow: 0px 0px 20px 7px black;
}
.homebase img{
    height: 250px;
    width: 400px;
    box-shadow: 0px 0px 20px 2px blue;
}
.fanbase img{
     height: 250px;
    width: 400px;
    box-shadow: 0px 0px 20px 2px blue;
}

/*END Baseball CSS*/