@{
    ViewBag.Title = "Get to know Football";
}

<h2>Football</h2>
<div class="links">
    <a href="~/Home/Index">Home</a>
<br />
<a href="~/Football/Rules">Rules</a>
    &nbsp| &nbsp
<a href="~/Football/History">History</a>
    &nbsp| &nbsp
<a href="~/Football/Blog">Football Blog</a>
    &nbsp| &nbsp
<a href="~/Football/ToBeAFan">Things To Know</a>
    </div>
